.head{
      
    background-color: orange;
    border:solid;
    font-family: fantasy;
     }
  
     .note{
       background-color: blue;
       border: dotted;
     }

.menu{
  display: flex;
     justify-content: space-between;
     padding: 15px;
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 400;
     color: #000000;
}

.img{
  border: solid;
}
  
  .grid {
    background: red;
    background-color: #F0F8FF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }
  
  .camel {
    border: 1px solid #0000ff00;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#e8e4e4;
    border-width: 6px;
   
  }
  
  
  .chameleon {
    border: 1px solid #00ff37;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .cicada {
    border: 1px solid #00aeff;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .panda {
    border: 1px solid #ff004c;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .pigeon {
    border: 1px solid #d9ff00;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }
  
  .teddy {
    border: 1px solid #ff0000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#E8E5E4;
    border-width: 6px;
  }

  